*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
section{
    text-align: center;
    justify-content: center;
}
h1{
    font-size: 50px;
}
h2{
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 20px;
}
h3{
    font-weight: 700;
    padding-bottom: 20px;
}
p{
    font-size: 13px;
}
.cta{
    background-color: rgba(255, 89, 89, 1);
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    display: inline-block;
    margin-top: 25px;
}
#hero{
    height: 100vh;
    width: 100%;
    background-image: url(images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: white;
    position: relative;
    z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    background-image: linear-gradient(transparent, black);
    opacity: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#hero div{
    padding-top: 150px;
}
#donate-today{
    height: 100vh;
    width: 100%;
    padding-top: 150px;
}
#donate-today .amount {
    margin: 0 auto;
    width: 65%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
#donate-today .amount .card{
    background-color: rgba(250, 250, 250, 1);
    padding: 40px 40px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
    color: rgba(112, 112, 112, 1);
}
#donate-today .amount .card:nth-child(2){
    border: 1px solid rgba(255, 89, 89, 1);
    background-color: rgba(255, 238, 238, 1);
    color: rgba(255, 89, 89, 1);
}
#donate-today .other-amount input{
    margin-top: 80px;
    padding: 10px 335px;
    border: none;
    border-bottom: 1px solid rgba(218, 218, 218, 1);
}
#donate-plan{
    height: 90vh;
    width: 100%;
}
#donate-plan .package{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%
}
#donate-plan .package .card {
    width: 22%;
    margin: 0 10px;
    border-radius: 10px;
    padding: 40px 10px;
    text-align: justify;
}
#donate-plan .package .card img{
    padding-bottom: 20px;
}
#donate-plan .package .card:nth-child(1){
    background-color: rgba(79, 157, 166, 0.1);
}
#donate-plan .package .card:nth-child(2){
    background-color: rgba(255, 89, 89, 0.1);
}
#donate-plan .package .card:nth-child(3){
    background-color: rgba(255, 244, 214, 1);
}
#guide .contribute{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 50px auto;
    padding-bottom: 40px;
}
.half-width{
    width: 40%;
    text-align: justify;
}
.half-width img{
    width: 100%;
    border-radius: 5px;
}
#sylhet{
    width: 100%;
    height: 90vh;
}
#sylhet .fload-map{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
}
#sylhet .fload-map p{
    font-size: 15px;
}
#subscription .subscribe{
    background-color: rgba(255, 244, 214, 1);
    width: 60%;
    padding: 30px 0 60px;
    margin: 40px auto;
    align-items: center;
}
#subscription .subscribe input{
    background-color: rgba(217, 217, 217, 1);
    border: none;
    width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#subscription .subscribe a{
    padding: 5px 30px;
    border-radius: 0;
    font-size: 13px;
    margin-left: -5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#footer{
    background-color: rgba(11, 13, 23, 1);
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    padding-top: 40px;
}
#footer h2{
    color: rgba(255, 89, 89, 1);
}
#footer small{
    color: white;
}
#footer p{
    color: rgb(150, 144, 144);
}